@font-face {
  font-family: 'Maxwell', serif;
  src: url('../assets/fonts/Maxwell.ttf') format('truetype');
}

@font-face {
  font-family: 'Asset', serif;
  src: url('../assets/fonts/Asset-Regular.ttf') format('truetype');
}
